/* Common styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End common styling */



/* Section 1 */
.section-1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(255,255,255,1),rgb(86,83,81),rgb(59,60,54));
    flex-direction: column;
    filter: blur(10px);
    transition: all 0.5s;
}

.section-1:hover {
    filter: blur(0px);
}

.section-1-heading {
    font-size: 6rem;
    font-weight: 700;
    color: #ffffff;
    padding: 0 3rem;
    margin-bottom: 5rem;
    letter-spacing: 1rem;
    border-bottom: 0.3rem solid #555555;
    text-shadow: .2rem .2rem 1rem #555555;
}

.person-img {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 50%;
    border: .7rem solid  rgb(59,60,54);
    background-color: rgba(255, 255, 255, 0.7);
    padding: .5rem;
    opacity: .9;
    filter: blur(10px);
    transition: all 0.7s;
}

.person-img:hover {
    filter: blur(0px);
}

.person-name {
    font-size: 2rem;
    color: #ffffff;
    background-color: rgb(59,60,54);
    margin: 5rem 0;
    padding: .5rem 3rem;
    letter-spacing: .3rem;
}

.section-1-btn {
    font-size: 1.7rem;
    font-weight: 700;
    background-color: #ffffff;
    color: #333333;
    border: .5rem solid rgb(173,223,173);
    padding: .5rem 1rem;
    letter-spacing: .3rem;
}
/* End Section 1 */



/* Navbar */
.navbar {
    width: 100%;
    height: 4rem;
    background-color:rgb(59,60,54);
    box-shadow: .2rem .2rem .5rem #555555;
    position: absolute;
    z-index: 300;
}

.sticky {
    position: fixed;
    top: 0;
}

.navbar-link {
    font-size: 1.7rem;
    font-weight: 600;
    color: white;
    margin: 0 3rem;
    letter-spacing: .3rem;
    position: relative;
    transition: color .2s;
}

.change.navbar-link {
    color: rgb(248,248,248);
}

.navbar-link::before {
    content: "";
    width: 0;
    height: .2rem;
    background-color: #ffffff;
    position: absolute;
    right: -15%;
    bottom: -.3rem;
    transition: width .2s;
}

.change.navbar-link::before {
    width: 130%;
}

.navbar-link:hover::before {
    width: 130%;
}

.navbar-link:hover {
    color: rgb(173,223,173);
}
/* End Navbar */



/* Section 2 */
.section-2 {
    width: 100%;
    height: 100%;
    padding: 15rem 0 10rem 0;
    background-color: #ffffff;
    flex-direction: column;
}

.section-2-heading, .section-3-heading, .section-4-heading {
    font-size: 5rem;
    color: #333333;
    letter-spacing: .5rem;
    margin-bottom: 15rem;
    border-bottom: .3rem solid #333333;
    text-shadow: .2rem .2rem .5rem #555555;
}

.progress-bars-wrapper {
    margin-bottom: 10rem;
}

.progress-bar {
    width: 60rem;
    height: 3rem;
    background-color: #cccccc;
    margin: 1.5rem 0;
    border-radius: .3rem;
    box-shadow: .2rem .2rem 1rem #555555;
    position: relative;
}

.progress-text {
    position: absolute;
    left: 1rem;
    font-size: 2rem;
    color: rgb(173,223,173);
}

.progress-text span {
    margin: 0 .5rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.progress-percent {
    width: 90%;
    height: 100%;
    background-color: rgb(59,60,54);
    border-radius: .3rem;
    transition: width .5s .5s ease-in-out;
}

.services {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service {
    text-align: center;
}

.service:first-child,
.service:last-child {
    align-self: flex-start;
}

.service i {
    font-size: 10rem;
    color: #888888;
    margin-bottom: 2rem;
    text-shadow: .1rem .1rem .5rem #555555;
}

.service h2 {
    font-size: 2rem;
    color: #ffffff;
    background-color: #777777;
    width: 25rem;
    letter-spacing: .3rem;
    transform: skew(-10deg);
    box-shadow: .2rem .2rem .5rem #555555;
}
/* End Section 2 */



/* Section 3 */
.section-3 {
    width: 100%;
    height: 100%;
    padding: 10rem 0;
    background-color:rgb(236,236,236);
    flex-direction: column;
    align-items: center;
}

.projects-wrapper {
    width: 80%;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #ffffff;
    box-shadow: .3rem .3rem .5rem #777777;
    position: relative;
    transition: top .3s;
    overflow: hidden;
    transition: box-shadow .5s;
}

.project:hover {
    box-shadow: 1rem 1rem 1rem #777777;
}

.project-text {
    text-align: center;
    letter-spacing: .1rem;
    position: absolute;
    top: -10rem;
    z-index: 10;
}

.project:hover .project-text {
    top: 5rem;
    transition: top .3s .3s;
}

.project-name {
    font-size: 3rem;
    font-weight: 700;
    color: #333333;
    text-transform: capitalize;
}

.project-technologies {
    font-size: 1.8rem;
    color: rgb(59,60,54);
    font-weight: 700;
}

.project-img {
    width: 40rem;
    transition: opacity .3s;
}

.project:hover .project-img {
    opacity: .2;
}

.project-link {
    font-size: 2rem;
    font-weight: 500;
    color: #333333;
    letter-spacing: .1rem;
    border: .3rem solid rgb(59,60,54);
    padding: 0 1rem;
    background-color: white;
    position: absolute;
    bottom: -5rem;
    transition: bottom .3s;
}

.project:hover .project-link {
    bottom: 5rem;
    transition: bottom .3s .3s;
}
/* End Section 3 */



/* Section 4 */
    .section-4 {
        width: 100%;
        height: 100%;
        background-color: #333333;
        padding: 10rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .section-4-heading {
        color: #ffffff;
        box-shadow: none;
        border-color: #ffffff;
        margin-bottom: 5rem;
    }

/* End Section 4 */


/* Footer */
.section-5 {
    width: 100%;
    height: 30vh;
    background-color: #222222;
    flex-direction: column;
}

.social-media {
    margin-bottom: 4rem;
}

.social-media-link {
    margin: 0 2rem;
    padding: .7rem;
    background-color: rgb(59,60,54);
    border-radius: .5rem;
    display: inline-block;
}

.social-media-link i {
    font-size: 3rem;
    color: #ffffff;
    transition: all 0.6s;
}

.social-media-link i:hover {
    font-size: 3rem;
    color: rgb(173,223,173);
}

.copyright, .contact {
    color: #aaa;
    font-size: 2rem;
    letter-spacing: .2rem;
    font-weight: 300;
    text-align: center;
}

.contact {
    padding: 5px;
}

.contact a {
    color: #aaa;
    transition: all 0.6s;
}

.contact a:hover {
    color: rgb(173,223,173);
    border-bottom: 1px solid rgb(173,223,173);
}
/* End Footer */




/* Scroll */
.scroll-btn {
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    width: 4.5rem;
    height: 4.5rem;
    background-color: rgb(173,223,173);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #ffffff;
    box-shadow: 0 .1rem .6rem rgba(0,0,0,0.2);
    border-radius: .3rem;
}
/* End Scroll */



/* Responsive */
@media (max-width: 1200px) {
    .services {
      height: auto;
      flex-wrap: wrap;
    }
  
    .service {
      margin: 3rem 2rem;
    }
  
    .section-4 {
      height: 80vh;
    }
  }
  
  @media (max-width: 800px) {
    .section-1-heading {
      font-size: 4rem;
    }
  
    .progress-bar {
      width: 50rem;
    }
  }
  
  @media (max-width: 600px) {
    .section-1-heading {
      font-size: 3rem;
    }
  
    .navbar-link {
      margin: 0 2rem;
      font-size: 1.5rem;
    }
  
    .section-2 {
      padding: 10rem;
    }
  
    .section-2-heading {
      margin-bottom: 10rem;
    }
  
    .progress-bar {
      width: 45rem;
    }
  
    .project-img {
      width: 100%;
    }
  
    .contact-form {
      width: 40rem;
    }
  
    .copyright {
      width: 70%;
    }
  }
  
  @media (max-width: 500px) {
    html {
      font-size: 55%;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 45%;
    }
  
    .section-1-heading {
      font-size: 2.5rem;
    }
  
    .navbar-link {
      margin: 0 1.5rem;
    }
  
    .section-2-heading {
      text-align: center;
    }
  
    .progress-bar {
      width: 40rem;
    }
  }
  /* End of Responsive */
  

